.page-header{
  padding: 30px;
}

.page-header h1{
  text-align: center;
}

.dialogs {
  margin: auto;
  max-width: 625px;
  padding: 15px;
  display: flex;
}

button {
  margin: 15px;
}

h1 {
    font-size: 25px;
}
